th {
	border: solid;
	width: 100px;
	height: 100px;
}


#board{
	background:;
	margin: 0 auto;
	height: 299px;
  	width: 426px;
	
	
}

.box{
	margin: 5px;
	background: gray;
	padding: 0;
	float: left;
	height: 100px;
	width: 120px;
	border: solid;
	border-color: black;
	font-size: 100px;
	text-align: center;

}
.scoreBox {
	height: 100px;
	width: 120px;
	border: solid;
	border-color: black;
	font-size: 100px;
	text-align: center;
	margin: 20px;
}
#p1 {
	float: left;

}
#p2 {
	float: right;

}

h1 {
	text-align: center;
}